.container {
    width: 1366px;
    height: 768px;
    display: grid;
    grid: 
        "logo header" 300px, 1fr
        "sidebar dados" 300px, 1fr
        "footer footer" 300px, 1fr
        / 108px 600px 60px;
}

.container > div {
    border: 1px dashed #888;
}

.logo {
    grid-area: logo;
    
}

.header {
    grid-area: header;
}

.dados {
    grid-area: dados;
}

.footer {
    grid-area: footer;
}

.sidebar {
    grid-area: sidebar;
    background-color: #243c5a;
    color: #fff;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    background-color: #4a90e2;
    border-radius: 5px;
}
