html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 276px 1fr;
    grid-template-rows: 200px 726px 40px;
    grid-template-areas: "logo titulo" 
                         "menu dados" 
                         "rodape rodape";
}

logo {
    grid-area: logo;
}
header {
    grid-area: titulo;
    background-color: #4a90e2;
}

dados {
    grid-area: dados;
}

footer {
    grid-area: rodape;
    background-image: url('textura.jpeg');
    background-repeat: no-repeat;
    background-color: #0097b2;
    text-align: center;
    font-weight: 500;
    padding: 10px;
    color: #fff;
}

.sidebar {
    grid-area: menu;
    background-image: url('textura.jpeg');
    background-color: #0097b2;
    color: #fff;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: expanded;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    background-color: #4a90e2;
    border-radius: 5px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
tr:nth-child(even){background-color: #f2f2f2;}
  
tr:hover {background-color: #ddd;}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4a90e2;
    color: white;
}
