<!DOCTYPE html>
<html>
<head>
    {% block title %}<title>Licitágil</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="main">
        <logo>
            <img src="{% static 'img/logo.jpeg' %}" alt="Logotipo Licitágil" width="276" height="200">
        </logo>
        <header>
            <img src="{% static 'img/titulo.jpeg' %}" alt="Cabeçalho" height="200" style="width: 100%">
        </header>
        <div class="sidebar">
            {% block sidebar %}
            <ul>
                <li><a href="{% url 'ganhas' %}">Licitações ganhas</a></li>
                <li><a href="{% url 'andamento' %}">Licitações em andamento</a></li>
                <li><a href="{% url 'futuras' %}">Futuras disputas</a></li>
                <li><a href="{% url 'cadastrar' %}">Cadastrar Licitação</a></li>
            </ul>
            {% endblock %}
        </div>
        <dados>
            {% block content %}
            {% endblock %}
        </dados>
        <footer>Copyright © 2023 - Grupo 15 - PJI110 - Univesp</footer>
    </main>
</body>
</html>
