{% extends "base.html" %}
{% block content %}
        <table>
            <tr>
                <td>UASG</td>
                <td>CLIENTE</td>
                <td>LOCAL DE ENTREGA</td>
                <td>EQUIPAMENTO</td>
                <td>TIPO DE COMPRA</td>
                <td>TIPO DE ENVIO</td>
                <td>DATA DA DISPUTA</td>
                <td>LINK ARQUIVOS</td>
            </tr>
            {% if licitacoes_futuras %}
                <tr>
                    {% for licitacao in licitacoes_ganhas %}
                        <td>{{ licitacao.uasg }}</td>
                        <td>{{ licitacao.cliente }}</td>
                        <td>{{ licitacao.local_entrega }}</td>
                        <td>{{ licitacao.equipamento  }}</td>
                        <td>{{ licitacao.tipo_compra }}</td>
                        <td>{{ licitacao.tipo_envio }}</td>
                        <td>{{ licitacao.data_disputa }}</td>
                        <td>{{ licitacao.documentos }}</td>
                    {% endfor %}
                </tr>
            {% else %}
                <tr>
                    <td>Não há licitações disponíveis</td>        
                </tr>
            {% endif %}
        </table>
{% endblock %}