{% extends "base.html" %}
{% block content %}
            {% if licitacoes_futuras %}
                {% for licitacao in licitacoes_futuras %}
                <tr>
                    <td>{{ licitacao.uasg }}</td>
                    <td>{{ licitacao.cliente }}</td>
                    <td>{{ licitacao.local_entrega }}</td>
                    <td>{{ licitacao.equipamento  }}</td>
                    <td>{{ licitacao.tipo_compra }}</td>
                    <td>{{ licitacao.tipo_envio }}</td>
                    <td>{{ licitacao.data_disputa }}</td>
                    <td><a href="{{ licitacao.documentos }}">Link</a></td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td>Não há licitações disponíveis</td>        
            </tr>
            {% endif %}
        </table>
{% endblock %}