{% extends "base.html" %}
{% block content %}
{% load l10n %}
{% localize on %}
            <table>
                <tr>
                    <th>UASG</th>
                    <th>CLIENTE</th>
                    <th>LOCAL DE ENTREGA</th>
                    <th>EQUIPAMENTO</th>
                    <th>TIPO DE COMPRA</th>
                    <th>TIPO DE ENVIO</th>
                    <th>DATA DA DISPUTA</th>
                    <th>LINK ARQUIVOS</th>
                </tr>
                {% if licitacoes_ganhas %}
                    {% for licitacao in licitacoes_ganhas %}
                    <tr>
                        <td>{{ licitacao.uasg }}</td>
                        <td>{{ licitacao.cliente }}</td>
                        <td>{{ licitacao.local_entrega }}</td>
                        <td>{{ licitacao.equipamento  }}</td>
                        <td>{{ licitacao.tipo_compra }}</td>
                        <td>{{ licitacao.tipo_envio }}</td>
                        <td>{{ licitacao.data_disputa }}</td>
                        <td><a href="{{ licitacao.documentos }}">Link</a></td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td>Não há licitações ganhas</td>        
                </tr>
                {% endif %}
            </table>
{% endlocalize %}
{% endblock %}